/* No CSS reset, not really worth it for so few elements/styles */

/** Body + typography */

body {
    margin: 0 auto;
    padding: 1em 4em;
    font: medium/1.3 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #F2F4EC;
    color: #2b2b2b;
}

h1 {
    margin: 0;
    font-size: 5em;
}

header {
    text-align: right;
    color: #999;
    text-transform: uppercase;
    font-size: 13px;
}

/** Artist + Track */

#artist,#track {
    display: inline-block;
    margin: .25em 0;
    padding: .2em .4em;
    border-radius: 2px;
    background: dodgerBlue;
    box-shadow: 0 0 10px dodgerBlue;
}

#track {
    background: DarkOrange;
    box-shadow: 0 0 10px DarkOrange;
}

h1 .separator {
    display: none;
}